body,
html {
    height: 100%;
}

* {
    box-sizing: border-box;
}

.bg-img {
    /* The image used */
    background-image: url("profile_list.jpg");
    /* Control the height of the image */
    min-height: 800px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


/* Add styles to the form container */

.container {
    position: absolute;
    right: 50;
    left: 50;
    margin: 20px;
    max-width: 300px;
    padding: 16px;
    background-color: white;
}

.responsive {
    width: 100%;
    height: auto;
}